.row{
    padding: 20px;
}

div{
    background-color: darkcyan;
    text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        top: 340px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        top: 340px;
    }
}

/*estilo nombre*/
#nombre{

}